Repository frequenz-floss/frequenz-api-dispatch, pull requests merged in 2023-07, with the labels that each got.

#17 Add FCR prequalification cancellation event type
  proto/frequenz/api/dispatch/dispatch.proto
Labels: part:protobuf

#16 Rename fcr_prequal_settings to fcr_prequalification
  proto/frequenz/api/dispatch/dispatch.proto
Labels: part:protobuf

#19 Change `settings` to `payload` and use google protobuf Struct
  RELEASE_NOTES.md
  proto/frequenz/api/dispatch/dispatch.proto
  proto/frequenz/api/dispatch/fcr/prequalification.proto
  py/frequenz/api/dispatch/fcr/__init__.py
  pytests/test_dispatch.py
Labels: part:docs, part:protobuf, part:python

#23 Add `update_time` field to Dispatch message
  RELEASE_NOTES.md
  proto/frequenz/api/dispatch/dispatch.proto
Labels: part:docs, part:protobuf
