Repository frequenz-floss/frequenz-api-dispatch, pull requests merged in 2024-02, with the labels that each got.

#68 Improve and fix documentation
  proto/frequenz/api/dispatch/v1/dispatch.proto
Labels: part:protobuf, cmd:skip-release-notes

#132 Update frequenz-api-common to 0.5
  pyproject.toml
Labels: part:tooling

#137 Update repo-config 0.8.0
  .github/containers/nox-cross-arch/arm64-ubuntu-20.04-python-3.11.Dockerfile
  .github/containers/nox-cross-arch/entrypoint.bash
  .github/containers/test-installation/Dockerfile
  .github/dependabot.yml
  .github/workflows/ci.yaml
  .gitignore
  CONTRIBUTING.md
  RELEASE_NOTES.md
  docs/_css/mkdocstrings.css
  docs/_css/style.css
  docs/_img/logo.png
  docs/_overrides/main.html
  docs/_scripts/macros.py
  docs/_scripts/mkdocstrings_autoapi.py
  docs/css/style.css
  docs/mkdocstrings_autoapi.py
  mkdocs.yml
  py/frequenz/api/dispatch/conftest.py
  pyproject.toml
Labels: part:docs, part:tests, part:tooling, part:python
