Repository frequenz-floss/frequenz-api-dispatch, pull requests merged in 2024-06, with the labels that each got.

#171 Clarify component IDs of different categories are not supported
  proto/frequenz/api/dispatch/v1/dispatch.proto
Labels: type:enhancement, part:protobuf, cmd:skip-release-notes

#170 Update bymonthdays to support negative values
  RELEASE_NOTES.md
  proto/frequenz/api/dispatch/v1/dispatch.proto
Labels: part:docs, part:protobuf

#172 API Update PR!
  RELEASE_NOTES.md
  proto/frequenz/api/dispatch/v1/dispatch.proto
Labels: part:docs, part:protobuf

#173 Add documentation for payload field
  RELEASE_NOTES.md
  proto/frequenz/api/dispatch/v1/dispatch.proto
Labels: part:docs, part:protobuf

#174 Add Yearly to frequency
  RELEASE_NOTES.md
  proto/frequenz/api/dispatch/v1/dispatch.proto
Labels: part:docs, part:protobuf

#175 Update bymonthdays in update request
  proto/frequenz/api/dispatch/v1/dispatch.proto
Labels: part:protobuf, cmd:skip-release-notes
