Repository frequenz-floss/frequenz-api-dispatch, pull requests merged in 2024-07, with the labels that each got.

#181 Add pagination and sort parameters
  RELEASE_NOTES.md
  proto/frequenz/api/dispatch/v1/dispatch.proto
Labels: part:docs, part:protobuf

#179 Document valid values for `count` and `interval`
  RELEASE_NOTES.md
  proto/frequenz/api/dispatch/v1/dispatch.proto
Labels: part:docs, part:protobuf

#180 Add RPC streaming methods
  RELEASE_NOTES.md
  proto/frequenz/api/dispatch/v1/dispatch.proto
Labels: part:docs, part:protobuf

#184 Update dispatch filter for recurrence and end time [No Enum Alternative]
  RELEASE_NOTES.md
  proto/frequenz/api/dispatch/v1/dispatch.proto
Labels: part:docs, part:protobuf

#186 Add end_time field
  RELEASE_NOTES.md
  proto/frequenz/api/dispatch/v1/dispatch.proto
Labels: part:docs, part:protobuf, scope:breaking-change

#187 Allow specifying multiple component categories
  RELEASE_NOTES.md
  proto/frequenz/api/dispatch/v1/dispatch.proto
Labels: part:docs, part:protobuf

#188 Use oneof in recurrence filter
  RELEASE_NOTES.md
  proto/frequenz/api/dispatch/v1/dispatch.proto
Labels: part:docs, part:protobuf

#189 Rename & Restructure ComponentSelector
  proto/frequenz/api/dispatch/v1/dispatch.proto
Labels: part:protobuf, cmd:skip-release-notes

#190 Change description of the EndCriteria.until field.
  RELEASE_NOTES.md
  proto/frequenz/api/dispatch/v1/dispatch.proto
Labels: part:docs, part:protobuf

#191 Prepare release notes for release
  RELEASE_NOTES.md
Labels: part:docs

#192 Reset release notes
  RELEASE_NOTES.md
Labels: part:docs

#194 Split & Rename the Dispatch object
  RELEASE_NOTES.md
  proto/frequenz/api/dispatch/v1/dispatch.proto
Labels: part:docs, part:protobuf

#195 Update release notes for release
  RELEASE_NOTES.md
Labels: part:docs
